{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",

  "rules":{
    "linebreak-style": 0,
    "eol-last": ["error", "never"],
    "no-console": "off",
    "no-alert": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["gulpfile.babel.js", "gulp/**/*"]}],
    "import/no-import-module-exports": ["error", {
      "exceptions": ["**/*.js"]
    }]
  },

  "env": {
    "browser": true
  },

  "settings": {
    "import/resolver": {
        "node": {
            "extensions": [".js", ".jsx", ".ts", ".tsx"],
            "moduleDirectory": ["node_modules", "src/"]
        }
    }
  }
}